<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crowtails.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Crowftails.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="WindowsFormsApp3.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <Crowtails.Properties.Settings>
      <setting name="NumbersIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Details" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enemys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSinGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DPSoutSkills" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidDPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidHPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersInSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="NumbersOutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DetailsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="FightsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="EnemysSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSoutGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSinGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="HPSoutGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="SettingsWindowSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSoutSkillsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="RaidDPSoutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="RaidHPSoutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="Opacity_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FightDura_" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ApiKey_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FightButton_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Lock_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Account_" serializeAs="String">
        <value />
      </setting>
      <setting name="Online_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOnlyInFight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChanPWD" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="DockWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverlayDis_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartCrowfall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrowfallFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="NetworkOptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Class_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPSInOutType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSInOutTypeSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="ExtendedNetwork" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="playerraidtoolSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="SettingsButtonSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="uilang" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gameLang" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArchivRaid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArchivRaidSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="SettingsButtonSetArchiv" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value />
      </setting>
    </Crowtails.Properties.Settings>
    <Crowftails.Properties.Settings>
      <setting name="NumbersIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Details" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enemys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSinGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DPSoutSkills" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidDPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidHPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersInSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="NumbersOutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DetailsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="FightsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="EnemysSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSoutGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSinGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="HPSoutGraphSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="SettingsWindowSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="DPSoutSkillsSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="RaidDPSoutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="RaidHPSoutSet" serializeAs="String">
        <value>0;0;0;0;</value>
      </setting>
      <setting name="Opacity_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FightDura_" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ApiKey_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FightButton_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Lock_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Account_" serializeAs="String">
        <value/>
      </setting>
      <setting name="Online_" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOnlyInFight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChanPWD" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="DockWindow" serializeAs="String">
        <value>False</value>
      </setting>
    </Crowftails.Properties.Settings>
    <WindowsFormsApp3.Properties.Settings>
      <setting name="NumbersIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Details" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enemys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DPSinGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HPSoutGraph" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DPSoutSkills" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidDPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidHPSout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumbersInSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="NumbersOutSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="DetailsSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="FightsSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnemysSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="DPSoutGraphSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="DPSinGraphSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="HPSoutGraphSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="SettingsSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="DPSoutSkillsSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="RaidDPSoutSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="RaidHPSoutSet" serializeAs="String">
        <value/>
      </setting>
      <setting name="Opacity_" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FightDura_" serializeAs="String">
        <value/>
      </setting>
      <setting name="ApiKey_" serializeAs="String">
        <value/>
      </setting>
      <setting name="FightButton_" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormsApp3.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
        description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite"
      description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>